---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      major:
        applies-to: version-updates
        update-types:
          - "major"
      minors-and-patches:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"
