# Hidden files
.dockerignore
.git
.gitmodules
.DS_Store
.vscode
.github

# Local settings
.env
.env.local
.env.development
.env.test
.env.production
local.properties

# Build artifacts & non-essential directories
docs/public/
docs/resources/
scripts/
Makefile
README.md
*.md
!docs/**/*.md
