services:
  blog:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: ghcr.io/irishlab-io/blog:latest
    container_name: irishlab-blog
    ports:
      - "8080:8080"
    restart: unless-stopped
    read_only: true
    tmpfs:
      - /var/cache/nginx
      - /var/run
      - /tmp
    security_opt:
      - no-new-privileges:true
