---
name: Manual - SBOM

on: # yamllint disable-line rule:truthy
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:

  sbom:
    name: Generate & Push SBOM
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        target: ["python:3.10.11-alpine3.18", "node:22-alpine3.20", "php:7.2.34-zts-alpine3.12", "ruby:3.2.2-alpine3.18"]
    timeout-minutes: 5

    steps:
      - name: Connect to Tailnet
        uses: tailscale/github-action@53acf823325fe9ca47f4cdaa951f90b4b0de5bb9 # v4.1.1
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
          ping: ${{ secrets.DEPLOY_HOST }}
          tags: "tag:ci"

      - name: Generate SBOM with Syft
        uses: anchore/sbom-action@62ad5284b8ced813296287a0b63906cb364b73ee # v0.22.0
        with:
          image: docker.io/${{ matrix.target }}
          format: cyclonedx-json
          artifact-name: sbom.json
          output-file: ${{ github.workspace }}/sbom.json

      - name: Upload SBOM to Dependency-Track
        uses: DependencyTrack/gh-upload-sbom@48feab3080ff9e8f51f4d21861d9fc914eb744f5 # v3.1.0
        with:
          serverhostname: ${{ secrets.DEPENDENCYTRACK_HOST_URL }}
          apikey: ${{ secrets.DEPENDENCYTRACK_TOKEN }}
          parentname: ${{ github.repository }}
          projectname: ${{ matrix.target }}
          projectversion: "main"
          bomfilename: ${{ github.workspace }}/sbom.json
          autocreate: true
